@import url('https://fonts.googleapis.com/css?family=Comfortaa|Modak');


html {

    background-image: url(../images/giftly.png);
}

body {
    width: 600px;
    padding: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

body {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    border-top: 34px dotted purple;
    border-bottom: 34px dotted lavender;
    border-right: 34px dotted orchid;
    border-left: 34px dotted orchid;
    background-color: #F22E54;
}

a {
    font-size: 12pt;
    color: #E0FFCA;
    text-decoration: none;
}

a:hover {
    color: purple;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    color: #FFCFCA;
    letter-spacing: 10px;
    border-left: 50px double #ffafaf;
    border-right: 50px double #ffafaf;
    text-transform: uppercase;

}

p {
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    line-height: 14pt;
    color: darkmagenta;
    background-color: #ffafaf;
    border: solid;
    padding: 20px;

}
